.container{
  text-align: center;
  justify-content: center;
    button{
      background-color: #ffcc03;
      color: blue;
      border-radius: 40%;
    }
  input{
    border: 2px solid #ffcc03;
    border-radius: 20%;
  }
  .nameId{
    display: flex;
  }
  #sprites{
    background-color: black;
    width: 40%;
    margin-left: 4.5%;
  }
}
